<!doctype html>
<html>

<h1>welcome to bookers !!</h1>


<p>In Bookers,</p>
<p>you can share and exchange your opinions , inpressions , and<br>
	emotions</p>

<p>about various books!</p>

<div class="button">
   <p>
	<%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %><br>
	<%= link_to 'Sing up', new_user_registration_path, class: "btn btn-success" %><br>
   </p>
</div>

<footer>
	<p>CopyRight Infratop.inc</p>
</footer>

</html>
